/********************************************
        FONT STACKS
********************************************/

$arial: arial, sans-serif;
$times: times, serif;

/********************************************
        COLOURS
********************************************/

$white: #fff;
$black: #000;
